:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:#1194A8;
    --body-color:#2B5877;
    --heading-color:#F0584A;
    --contrast-color:#FBA922;
}

body {
    font-size: 18px;
    line-height: 1.5em;
    display: grid;
    grid-template-areas: "head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    color: var(--body-color);
}

main {
    background-color: #e5e5e5;
    border-color: var(--light-color);
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
                            "nav nav"
                            "main main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}
@media screen and (max-width: 25em) {
    body {
        font-size: 80%;
    }
    li > a {
        font-size: 60%;
    }
    li {
        display: inline-table;
        padding-right: 0;
    }
}

@media screen and (max-width: 50em) {
    body {
        font-size: 80%;
    }
    li > a {
        font-size: 60%;
    }
    li {
        display: inline-table;
        padding-right: 0;
    }
}

h1 {
    line-height: 1.2em;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    color: var(--heading-color);
}

h2 {
    line-height: 1.2em;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    color: var(--light-color);
}

h3 {
    line-height: 1.2em;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    color: var(--contrast-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--light-color);
    text-decoration-color: var(--contrast-color);
}

footer > a, footer > a:hover {
    color: var(--light-color);
    text-decoration-color: var(--light-color);
}
footer {
    color: var(--light-color);
}

body#about img {
    height: 20em;
    float: left;
    padding-right: 5em;
    padding-bottom: 5em;
}

p {
    max-width: 60em;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
    border-top: 2px solid var(--light-color);
    border-bottom: 2px solid var(--light-color);

}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > nav ul li {
    display: inline;
    padding-right: 2rem;
    font-size: 1.5rem;
}

body > main {
    grid-area: main;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

footer, nav {
    text-align: center;
}

.cursor {
    display: inline-block;
    width: 0.08em;
    height: 0.75em;
    background-color: var(--heading-color);
    margin-left: 0.25em;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.date {
    color: var(--light-color);
    line-height: 0.25em !important;
}




/* .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  } */